@model UsuarioModel

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bem vindo, @Model.Nome</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<form class="d-flex" style="margin-right: 30px; width: 340px;" role="search">
    <input class="form-control form-control-sm" type="search" placeholder="Pesquisar" aria-label="Search">
    <a class="link-secondary" href="#" aria-label="Search">
        <svg xmlns="" alt="" width="20" height="20" style="margin-left:5px" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5" /><path d="M21 21l-5.2-5.2" /></svg>
    </a>
</form>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <div class="collapse navbar-collapse" style="justify-content: flex-end;" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="" alt="DropDown para Seleção" style="width:45px;height:35px;">
                </a>
                @*VERIFICAR URL DA IMG CARRINHO ICON*@
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a class="dropdown-item" asp-area="" asp-controller="AlterarSenha" asp-action="Index">Alterar Senha</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Sair">Ajuda</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
@* <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contatos</a>
        </li>
        @if (Model.Perfil == ControleDeContatos.Enums.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AlterarSenha" asp-action="Index">Alterar Senha</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>
    </ul>*@