@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Excluir usuário</h5>
        </div>
        <div class="modal-body">
            <p>
                Realmente deseja apagar o usuário
                <strong>@Model.Nome?</strong>
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Index">Cancelar</a>
            <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Apagar">Excluir</a>
        </div>
    </div>
</div>
