@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Principal";

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sora:wght@400;600&display=swap" rel="stylesheet" />

    <style>
        h1, h2, h3 {
            font-family: 'Sora', sans-serif;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: -1px;
            color: var(--white);
        }

        h1 {
            font-size: 4rem;
            color: var(--gray-colors-100);
        }

        h2 {
            font-size: 3.2rem;
        }

        h3 {
            font-size: 2.4rem;
        }

        .s-hero {
            padding: 7.2rem 0px;
            margin-top: 8.8rem;
        }

        .text {
            width: 100%;
            max-width: 64.0rem;
        }

        p {
            margin-bottom: 5.6rem;
            max-width: 48.8rem;
            line-height: 150%;
        }

        .s-hero .text .btn-primary {
            padding: 1.7rem 3.7rem;
        }

        .image {
            width: 100%;
            max-width: 48.8rem;
            height: 18.6rem;
            background-color: var(--gray-colors-800);
            display: flex;
            justify-content:center
        }
    </style>

    <section class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Conecte-se com o mundo.</h1>
                    <p>Cadastre seus contatos e esteja sempre um passo à frente.</p>
                    @*<p> Cadastre seus contatos e fortaleça seus relacionamentos.</p>*@
                </div>
                <div class="col-md-6 image">
                    <img src="/filterContacts.svg" alt="imagem hero" />
                </div>
            </div>
        </div>
    </section>

    @*<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <img src="imagem1.jpg" class="card-img-top" alt="Imagem 1">
          <div class="card-body">
            <h5 class="card-title">Título do Item 1</h5>
            <p class="card-text">Descrição do Item 1.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="imagem2.jpg" class="card-img-top" alt="Imagem 2">
          <div class="card-body">
            <h5 class="card-title">Título do Item 2</h5>
            <p class="card-text">Descrição do Item 2.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="imagem3.jpg" class="card-img-top" alt="Imagem 3">
          <div class="card-body">
            <h5 class="card-title">Título do Item 3</h5>
            <p class="card-text">Descrição do Item 3.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>*@

}