@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Principal";

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sora:wght@400;600&display=swap" rel="stylesheet" />

    <style>
        h1, h2, h3 {
            font-family: 'Sora', sans-serif;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: -1px;
            color: #ffffff;
        }

        h1 {
            font-size: 4rem;
            color: #ffffff;
        }

        h2 {
            font-size: 3.2rem;
        }

        h3 {
            font-size: 2.4rem;
        }

        .s-hero {
            padding: 7.2rem 0px;
            margin-top: 8.8rem;
        }

        .text {
            width: 100%;
            max-width: 64.0rem;
        }

        p {
            max-width: 48.8rem;
            line-height: 150%;
            color: #ffffff;
        }

        .s-hero .text .btn-primary {
            padding: 1.7rem 3.7rem;
        }

        .image {
            width: 100%;
            max-width: 48.8rem;
            height: 18.6rem;
            background-color: var(--gray-colors-800);
            display: flex;
            justify-content: center
        }

        .input-email {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            width: 300px;
        }

        .inputEmail {
            height: 45px;
        }

        .btnEmail {
            width: 300px;
            height: 20px
        }

        .secondSection {
            padding-top: 15px;
        }

        .ebookTitulo {
            display: block;
        }

        .ebookTitulo {
            color: white;
        }

        .home-section {
            padding-top: 40px;
        }
    </style>

    <section class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Conecte-se com o mundo.</h1>
                    <p>Cadastre seus contatos e esteja sempre um passo à frente.</p>
                </div>
                <div class="col-md-6 image">
                    <img src="/undraw_completedBlack.svg" alt="imagem hero" />
                </div>
            </div>
        </div>
    </section>
    <section class="secondSection">
        <div class="container">
            <div class="row ebookTitulo">
                <h4 class="col-md-6">Receba o nosso E-book grátis agora mesmo!</h4>
                <div class="input-group col-md-6">
                    <input type="text" class="form-control inputEmail" placeholder="Insira o seu e-mail" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-dark" type="button" id="button-addon2">Enviar</button>
                </div>
            </div>
        </div>
    </section>
}
