@{
    ViewData["Title"] = "Página Inicial";
}

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sora:wght@400;600&display=swap"
      rel="stylesheet" />

<div class="row justify-content-center" style="padding-top:80px">
    <div class="col-4" style="margin-right:10px">
        <h1 style="font-family:'Sora', sans-serif; font-weight: 600;line-height: 125%;letter-spacing: -1px;">
            Cadastre seus contatos agora mesmo!
        </h1>
    </div>

    <div class="col-md-6 float-md-end">
        <img src="./contatoHome.svg" class="card-img-top" alt="...">
    </div>
</div>
